<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my gallery</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Categories
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">All photos</li>
                    <li class="list-group-item">photo1</li>
                    <li class="list-group-item">category</li>
                    <li class="list-group-item">view</li>
                    <li class="list-group-item">
                        <a href="">Add photo</a>
                    </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div>
                        <div class="card my-2">
                            <img class="image"
                                src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80"
                                alt="our first image">
                            <div class="card-body">
                                <p>Category: Pets</p>
                            </div>
                            <a href="{% url 'photo'  %}" class="btn btn-outline-dark sm-m-1 ">View</a>
                        </div>
                    </div>
                    <div>
                        <div class="card my-2">
                            <img class="image" src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" alt="our first image">
                            <div class="card-body">
                                <p>Category: Pets</p>
                            </div>
                            <a href="{% url 'photo'  %}" class="btn btn-outline-dark sm-m-1 ">View</a>
                        </div>
                    </div>
                    <div>
                        <div class="card my-2">
                            <img class="image" src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" alt="our first image">
                            <div class="card-body">
                                <p>Category: Pets</p>
                            </div>
                            <a href="{% url 'photo' %}" class="btn btn-outline-dark sm-m-1 ">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>